# Packages

In [2]:
import pandas as pd

# Open data

In [2]:
pwd

'/Users/amelietatin/code/amelietatin/plcc_web_dev/plcc_web_dev/notebooks'

In [164]:
sitenames = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_NATURA2000SITES.csv', sep=',')
bioregion = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_BIOREGION.csv', sep=',')
species = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_SPECIES.csv', sep=',')
other_species = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_OTHERSPECIES.csv', sep=',')
habitats = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_HABITATS.csv', sep=',')
impact = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_IMPACT.csv', sep=',')
management = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_MANAGEMENT.csv', sep=',')

# Selecting columns

In [165]:
sitenames = sitenames[['SITECODE', 'SITENAME']]

In [166]:
bioregion = bioregion[['SITECODE', 'BIOGEOGRAPHICREG']]
bioregion.columns = ['SITECODE', 'BIOREGION']

In [167]:
bioregion.SITECODE.nunique()

27193

In [168]:
countries = habitats[['SITECODE', 'COUNTRY_CODE']]
countries

         SITECODE COUNTRY_CODE
0       HUKN30002           HU
1       LTPRI0014           LT
2       LTPRI0014           LT
3       LTPRI0014           LT
4       LTPRI0014           LT
...           ...          ...
152798  DE2721301           DE
152799  DE2721301           DE
152800  DE2721301           DE
152801  DE2928331           DE
152802  DE2928331           DE

[152803 rows x 2 columns]

In [169]:
species = species[['SITECODE', 'SPECIESNAME', 'SPGROUP']]
species.columns = ['SITECODE', 'SPECIESNAME', 'SPECIESGROUP']

In [170]:
other_species = other_species[['SITECODE', 'SPECIESGROUP', 'SPECIESNAME']]
other_species.columns = ['SITECODE', 'OTHER_SPECIESGROUP', 'OTHER_SPECIESNAME']

In [171]:
habitat_class = habitats[['SITECODE', 'DESCRIPTION']]
habitat_class.columns = ['SITECODE', 'HABITAT_DESCRIPTION']

In [172]:
habitat_class.SITECODE.nunique()

22822

In [173]:
impact = impact[['SITECODE', 'DESCRIPTION']]
impact.columns = ['SITECODE', 'IMPACT_DESCRIPTION']

In [174]:
impact.SITECODE.nunique()

24312

In [175]:
management = management[['SITECODE', 'MANAG_CONSERV_MEASURES', 'MANAG_PLAN']]

In [176]:
management.SITECODE.nunique()

27187

# Merging columns

In [198]:
species.groupby(['SITECODE','SPECIESGROUP']).count()

                         SPECIESNAME  OTHER_SPECIESGROUP  OTHER_SPECIESNAME
SITECODE  SPECIESGROUP
AT1101112 Birds                   21                  21                 21
          Plants                  14                  14                 14
AT1102112 Birds                   63                  63                 63
          Mammals                  7                   7                  7
AT1103112 Birds                    4                   4                  4
...                              ...                 ...                ...
SKUEV2376 Invertebrates            9                   9                  9
SKUEV3251 Plants                   6                   6                  6
SKUEV4000 Plants                   1                   1                  1
SKUEV4027 Fish                     1                   1                  1
          Mammals                  1                   1                  1

[34207 rows x 3 columns]

In [177]:
bioregion = bioregion.merge(countries, on='SITECODE').merge(sitenames, on='SITECODE').drop_duplicates()

In [178]:
species = species.merge(other_species, on='SITECODE')
species.head()

,SITECODE,SPECIESNAME,SPECIESGROUP,OTHER_SPECIESGROUP,OTHER_SPECIESNAME
0,LTSVEB009,Aegolius funereus,Birds,Invertebrates,Bryodemella
1,LTSVEB009,Aegolius funereus,Birds,Plants,Dianthus arenarius ssp. borusicus
2,LTSVEB009,Aegolius funereus,Birds,Invertebrates,Phengaris arion
3,LTSVEB009,Anthus campestris,Birds,Invertebrates,Bryodemella
4,LTSVEB009,Anthus campestris,Birds,Plants,Dianthus arenarius ssp. borusicus

In [179]:
impact_management = impact.merge(management, on='SITECODE')
impact_management.head()

,SITECODE,IMPACT_DESCRIPTION,MANAG_CONSERV_MEASURES,MANAG_PLAN
0,LTKED0003,"Sylviculture, forestry",NaN,NaN
1,LTKED0003,disposal of household / recreational facility ...,NaN,NaN
2,LTKED0003,invasive non-native species,NaN,NaN
3,IE0000397,Sand and gravel extraction,NaN,NaN
4,IE0000397,grazing,NaN,NaN

# Check unique values

In [180]:
species.SPECIESNAME.nunique()

1563

In [181]:
# Dictionary mapping country codes to country names
country_map = {
    'FR': 'France', 'GR': 'Greece', 'HR': 'Croatia', 'ES': 'Spain', 'SE': 'Sweden',
    'DK': 'Denmark', 'EE': 'Estonia', 'MT': 'Malta', 'HU': 'Hungary', 'NL': 'Netherlands',
    'AT': 'Austria', 'BG': 'Bulgaria', 'FI': 'Finland', 'PL': 'Poland', 'PT': 'Portugal',
    'LT': 'Lithuania', 'LU': 'Luxembourg', 'LV': 'Latvia', 'RO': 'Romania', 'IT': 'Italy',
    'BE': 'Belgium', 'IE': 'Ireland', 'CZ': 'Czech Republic', 'CY': 'Cyprus', 'SI': 'Slovenia',
    'SK': 'Slovakia', 'DE': 'Germany'
}

# Map the country codes to country names and create a new column
bioregion['COUNTRY_NAME'] = bioregion['COUNTRY_CODE'].map(country_map)

In [182]:
bioregion

,SITECODE,BIOREGION,COUNTRY_CODE,SITENAME,COUNTRY_NAME
0,FR9101379,Mediterranean,FR,Causse MÃ©jean,France
5,FR9101395,Mediterranean,FR,Le Gardon et ses gorges,France
15,FR9101413,Mediterranean,FR,Posidonies de la cÃ´te palavasienne,France
19,FR9101427,Mediterranean,FR,Grotte de Julio,France
23,FR9101430,Mediterranean,FR,Plateau de Roquehaute,France
...,...,...,...,...,...
169194,DE4405303,Atlantic,DE,"NSG Rheinvorland im Orsoyer Rheinbogen, mit Er...",Germany
169197,DE4407301,Atlantic,DE,Kirchheller Heide und Hiesfelder Wald,Germany
169207,DE5107302,Atlantic,DE,Waldseenbereich Theresia,Germany
169208,DE5108301,Atlantic,DE,Wahner Heide,Germany
169224,DE5207301,Atlantic,DE,Waldville,Germany

# Write new file

In [183]:
bioregion.to_csv('../raw_data/pa_infos_csv/new_csvs/bioregion.csv', index=False)

In [184]:
species.to_csv('../raw_data/pa_infos_csv/new_csvs/species.csv', index=False)

In [185]:
impact_management.to_csv('../raw_data/pa_infos_csv/new_csvs/impact_management.csv', index=False)

In [195]:
habitat_class.to_csv('../raw_data/pa_infos_csv/new_csvs/habitat_class.csv', index=False)

In [187]:
bioregion = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/bioregion.csv', sep=',')
impact_management = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/impact_management.csv', sep=',')
species = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/species.csv', sep=',')
habitat_class = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/habitat_class.csv', sep=',')

In [188]:
bioregion

,SITECODE,BIOREGION,COUNTRY_CODE,SITENAME,COUNTRY_NAME
0,FR9101379,Mediterranean,FR,Causse MÃ©jean,France
1,FR9101395,Mediterranean,FR,Le Gardon et ses gorges,France
2,FR9101413,Mediterranean,FR,Posidonies de la cÃ´te palavasienne,France
3,FR9101427,Mediterranean,FR,Grotte de Julio,France
4,FR9101430,Mediterranean,FR,Plateau de Roquehaute,France
...,...,...,...,...,...
24327,DE4405303,Atlantic,DE,"NSG Rheinvorland im Orsoyer Rheinbogen, mit Er...",Germany
24328,DE4407301,Atlantic,DE,Kirchheller Heide und Hiesfelder Wald,Germany
24329,DE5107302,Atlantic,DE,Waldseenbereich Theresia,Germany
24330,DE5108301,Atlantic,DE,Wahner Heide,Germany
24331,DE5207301,Atlantic,DE,Waldville,Germany

In [189]:
bioregion['COUNTRY_CODE'].unique()

array(['FR', 'GR', 'HR', 'ES', 'SE', 'DK', 'EE', 'MT', 'HU', 'NL', 'AT',
       'BG', 'FI', 'PL', 'PT', 'LT', 'LU', 'LV', 'RO', 'IT', 'BE', 'IE',
       'CZ', 'CY', 'SI', 'SK', 'DE'], dtype=object)

In [196]:
habitat_class.head()

    SITECODE                                HABITAT_DESCRIPTION
0  HUKN30002             Pannonic salt steppes and salt marshes
1  LTPRI0014  Inland dunes with open Corynephorus and Agrost...
2  LTPRI0014                                      Western TaÃ¯ga
3  LTPRI0014   Fennoscandian herb-rich forests with Picea abies
4  LTPRI0014  Sub-Atlantic and medio-European oak or oak-hor...

In [153]:
bioregion

         SITECODE      BIOREGION COUNTRY_CODE COUNTRY_NAME
0       FR9101379  Mediterranean           FR       France
1       FR9101379  Mediterranean           FR       France
2       FR9101379  Mediterranean           FR       France
3       FR9101379  Mediterranean           FR       France
4       FR9101379  Mediterranean           FR       France
...           ...            ...          ...          ...
169222  DE5108301       Atlantic           DE      Germany
169223  DE5108301       Atlantic           DE      Germany
169224  DE5207301       Atlantic           DE      Germany
169225  DE5207301       Atlantic           DE      Germany
169226  DE5207301       Atlantic           DE      Germany

[169227 rows x 4 columns]

In [131]:
bioregion.SITECODE.nunique()

22822

In [132]:
df = pd.read_csv('../raw_data/final_data_2015_2035.csv')

In [133]:
sitecodes_df = df.SITECODE.unique()

In [134]:
len(sitecodes_df)

624

In [135]:
bioregion_sitecode = bioregion[bioregion['SITECODE'].isin(df['SITECODE'])]

In [137]:
bioregion_sitecode

         SITECODE      BIOREGION COUNTRY_CODE
337     GR1220005  Mediterranean           GR
338     GR1220005  Mediterranean           GR
339     GR1220005  Mediterranean           GR
340     GR1220005  Mediterranean           GR
341     GR1220005  Mediterranean           GR
...           ...            ...          ...
167554  DE2226302       Atlantic           DE
167555  DE2226302       Atlantic           DE
167556  DE2226302       Atlantic           DE
168113  DE2507301       Atlantic           DE
168114  DE2507301       Atlantic           DE

[6020 rows x 3 columns]

In [138]:
bioregion_sitecode.SITECODE.nunique()

622

In [143]:
bioregion_sample = bioregion_sitecode[(bioregion_sitecode['BIOREGION'] == selected_bioregion)]
bioregion_sample.BIOREGION.unique()

array(['Atlantic'], dtype=object)

In [141]:
bioregion_sitecode.head()

      SITECODE      BIOREGION COUNTRY_CODE
337  GR1220005  Mediterranean           GR
338  GR1220005  Mediterranean           GR
339  GR1220005  Mediterranean           GR
340  GR1220005  Mediterranean           GR
341  GR1220005  Mediterranean           GR

In [145]:
bioregion_sample.SITECODE.unique()[0]

'DK00EX017'

In [149]:
sitecodes = bioregion_sample.SITECODE.unique()
default_sitecode = sitecodes[0]

In [150]:
default_sitecode

'DK00EX017'

In [190]:
selected_sitecode = 'Causse MÃ©jean'

In [194]:
bioregion[(bioregion['SITENAME'] == selected_sitecode)]['SITECODE'].values[0]

'FR9101379'