# Packages

In [2]:
import pandas as pd

# Open data

In [2]:
pwd

'/Users/amelietatin/code/amelietatin/plcc_web_dev/plcc_web_dev/notebooks'

In [266]:
sitenames = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_NATURA2000SITES.csv', sep=',')
bioregion = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_BIOREGION.csv', sep=',')
species = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_SPECIES.csv', sep=',')
other_species = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_OTHERSPECIES.csv', sep=',')
habitats = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_HABITATS.csv', sep=',')
impact = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_IMPACT.csv', sep=',')
management = pd.read_csv('../raw_data/pa_infos_csv/Natura2000_end2022_MANAGEMENT.csv', sep=',')

In [267]:
df = pd.read_csv('../raw_data/final_table_no_negative.csv')

In [268]:
sitecodes_unique = df.SITECODE.unique()

# Selecting columns

In [269]:
sitenames = sitenames[['SITECODE', 'SITENAME']]

In [270]:
bioregion = bioregion[['SITECODE', 'BIOGEOGRAPHICREG']]
bioregion.columns = ['SITECODE', 'BIOREGION']

In [271]:
bioregion.SITECODE.nunique()

27193

In [272]:
countries = habitats[['SITECODE', 'COUNTRY_CODE']]
countries

         SITECODE COUNTRY_CODE
0       HUKN30002           HU
1       LTPRI0014           LT
2       LTPRI0014           LT
3       LTPRI0014           LT
4       LTPRI0014           LT
...           ...          ...
152798  DE2721301           DE
152799  DE2721301           DE
152800  DE2721301           DE
152801  DE2928331           DE
152802  DE2928331           DE

[152803 rows x 2 columns]

In [273]:
species = species[['SITECODE', 'SPECIESNAME', 'SPGROUP']]
species.columns = ['SITECODE', 'SPECIESNAME', 'SPECIESGROUP']

In [274]:
other_species = other_species[['SITECODE',  'SPECIESNAME','SPECIESGROUP']]
other_species.columns = ['SITECODE', 'SPECIESNAME', 'SPECIESGROUP']

In [275]:
habitat_class = habitats[['SITECODE', 'DESCRIPTION']]
habitat_class.columns = ['SITECODE', 'HABITAT_DESCRIPTION']

In [276]:
impact = impact[['SITECODE', 'DESCRIPTION']]
impact.columns = ['SITECODE', 'IMPACT_DESCRIPTION']

In [277]:
management = management[['SITECODE', 'MANAG_CONSERV_MEASURES', 'MANAG_PLAN']]

# Merging columns

In [278]:
bioregion = bioregion.merge(countries, on='SITECODE').merge(sitenames, on='SITECODE').drop_duplicates()

In [279]:
species = pd.concat([species, other_species])

In [281]:
species = species.groupby(['SITECODE','SPECIESGROUP'], as_index=False).count()

In [282]:
impact_management = impact.merge(management, on='SITECODE')
impact_management.head()

,SITECODE,IMPACT_DESCRIPTION,MANAG_CONSERV_MEASURES,MANAG_PLAN
0,LTKED0003,"Sylviculture, forestry",NaN,NaN
1,LTKED0003,disposal of household / recreational facility ...,NaN,NaN
2,LTKED0003,invasive non-native species,NaN,NaN
3,IE0000397,Sand and gravel extraction,NaN,NaN
4,IE0000397,grazing,NaN,NaN

# Check unique values

In [283]:
# Dictionary mapping country codes to country names
country_map = {
    'FR': 'France', 'GR': 'Greece', 'HR': 'Croatia', 'ES': 'Spain', 'SE': 'Sweden',
    'DK': 'Denmark', 'EE': 'Estonia', 'MT': 'Malta', 'HU': 'Hungary', 'NL': 'Netherlands',
    'AT': 'Austria', 'BG': 'Bulgaria', 'FI': 'Finland', 'PL': 'Poland', 'PT': 'Portugal',
    'LT': 'Lithuania', 'LU': 'Luxembourg', 'LV': 'Latvia', 'RO': 'Romania', 'IT': 'Italy',
    'BE': 'Belgium', 'IE': 'Ireland', 'CZ': 'Czech Republic', 'CY': 'Cyprus', 'SI': 'Slovenia',
    'SK': 'Slovakia', 'DE': 'Germany'
}

# Map the country codes to country names and create a new column
bioregion['COUNTRY_NAME'] = bioregion['COUNTRY_CODE'].map(country_map)

In [284]:
bioregion

,SITECODE,BIOREGION,COUNTRY_CODE,SITENAME,COUNTRY_NAME
0,FR9101379,Mediterranean,FR,Causse MÃ©jean,France
5,FR9101395,Mediterranean,FR,Le Gardon et ses gorges,France
15,FR9101413,Mediterranean,FR,Posidonies de la cÃ´te palavasienne,France
19,FR9101427,Mediterranean,FR,Grotte de Julio,France
23,FR9101430,Mediterranean,FR,Plateau de Roquehaute,France
...,...,...,...,...,...
169194,DE4405303,Atlantic,DE,"NSG Rheinvorland im Orsoyer Rheinbogen, mit Er...",Germany
169197,DE4407301,Atlantic,DE,Kirchheller Heide und Hiesfelder Wald,Germany
169207,DE5107302,Atlantic,DE,Waldseenbereich Theresia,Germany
169208,DE5108301,Atlantic,DE,Wahner Heide,Germany
169224,DE5207301,Atlantic,DE,Waldville,Germany

In [285]:
species

        SITECODE   SPECIESGROUP  SPECIESNAME
0      AT1101112          Birds            3
1      AT1101112         Plants            9
2      AT1102112          Birds            9
3      AT1102112        Mammals            1
4      AT1102112         Plants            7
...          ...            ...          ...
69821  SKUEV4083     Amphibians            1
69822  SKUEV4083         Plants            1
69823  SKUEV4087  Invertebrates            1
69824  SKUEV4088  Invertebrates            1
69825  SKUEV4092         Plants            1

[69826 rows x 3 columns]

In [286]:
impact_management = impact_management[impact_management['SITECODE'].isin(sitecodes_unique)]
species = species[species['SITECODE'].isin(sitecodes_unique)]
bioregion = bioregion[bioregion['SITECODE'].isin(sitecodes_unique)]
habitat_class = habitat_class[habitat_class['SITECODE'].isin(sitecodes_unique)]

# Write new file

In [287]:
bioregion.to_csv('../raw_data/pa_infos_csv/new_csvs/bioregion.csv', index=False)

In [288]:
species.to_csv('../raw_data/pa_infos_csv/new_csvs/species.csv', index=False)

In [289]:
impact_management.to_csv('../raw_data/pa_infos_csv/new_csvs/impact_management.csv', index=False)

In [290]:
habitat_class.to_csv('../raw_data/pa_infos_csv/new_csvs/habitat_class.csv', index=False)

In [291]:
bioregion = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/bioregion.csv', sep=',')
impact_management = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/impact_management.csv', sep=',')
species = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/species.csv', sep=',')
habitat_class = pd.read_csv('../raw_data/pa_infos_csv/new_csvs/habitat_class.csv', sep=',')

In [313]:
df = pd.read_csv('../raw_data/final_table_no_negative_new_model.csv', index_col=[0])

In [312]:
df.drop(['a'], inplace=True)

KeyError: "['a'] not found in axis"

In [301]:
df.to_csv('../raw_data/final_table_no_negative.csv', index=False)